# Modulo 1
# pandas - "A melhor biblioteca do Python para Dados"
 - Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então éimportante você saber trabalhar com essa biblioteca muito bem
 - Vamos aprender os principais comandos e os princípios básicos do pandas - Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link nadescrição)

## Importando o Pandas

In [1]:
import pandas as pd

## Criando um dataframe a partir de um dicionário

In [2]:
# Formas de criar um Dataframe seria
# dataframe = pd.dataframe()  essa é a forma de criar um dataframe porem esta vazio

vendas = {'data': ['21/02/2022', '26/02/2022'],
          'valor': [500, 300],
          'Produto': ['Feijão', 'Arroz'],
          'Qtd': [300, 200]
         }
# Temos um dicionario com os valores na qual precisamos usar o pd.dataframe para transforma-lo em um df

vendas_df = pd.DataFrame(vendas)  ## Dessa forma criamos um dataframe usando o dicionario

## Visualização dos Dados
 - print 
 - display

In [3]:
# Para visualizar os dados contido no dataframe usando o print
print(vendas_df)

# O display é forma mais estruturada para retornar um dataframe conforme ele é
display(vendas_df)

         data  valor Produto  Qtd
0  21/02/2022    500  Feijão  300
1  26/02/2022    300   Arroz  200

         data  valor Produto  Qtd
0  21/02/2022    500  Feijão  300
1  26/02/2022    300   Arroz  200

## Importando arquivos e bases de dados

In [4]:
# Vamos importar os dados de um arquivo do excel que não esta na mesma pasta do projeto
dados = pd.read_excel('./dados/Vendas.xlsx')

## Resumos de Visualização de Dados simples e úteis
 - head
 - shape
 - describe

In [5]:
display(dados.head(10))
print(dados.shape)
display(dados.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

## Pegar 1 coluna (e os pd.Series)

In [6]:
# Quando retornamos uma coluna do dataframe ela vem como uma serie e nao como um dataframe
display(dados['Produto'])

# Para retornar uma coluna como um dataframe precisamos colocar dentro de dois colchetes, isso vai gerar uma tabela
display(dados[['Produto']])

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

                 Produto
0         Sapato Estampa
1               Camiseta
2          Sapato Xadrez
3                Relógio
4           Chinelo Liso
...                  ...
93905     Mochila Xadrez
93906  Pulseira Listrado
93907     Cueca Listrado
93908     Pulseira Linho
93909      Casaco Xadrez

[93910 rows x 1 columns]

## .loc, um método muito importante

 - Pegar por linha
 - Pegar linha de acordo a alguma condição
 - Pegar linhas e colunas especificas
 - Pegar 1 valor especifico

In [7]:
# Pegar por linha
display(dados.loc[2])  # Dessa forma ira retornar uma serie da linha com o indice 2, também pode ser usado fatiamento

# Pegar linha de acordo a alguma condição
display(dados.loc[dados['ID Loja'] == 'Norte Shopping'])  # Retornará todos os valores cujo o ID Loja seja Norte Shopping

# Pegar linhas e colunas especificas
display(dados.loc[dados['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]) # Retorna as colunas Produto e Qtd baseada na condição

# Pegar 1 valor especifico
display(dados.loc[1:5, 'Produto']) # Retornará os produtos da linha 1 até a 5

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                 Sapato Xadrez
Quantidade                          1
Valor Unitário                    368
Valor Final                       368
Name: 2, dtype: object

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

1         Camiseta
2    Sapato Xadrez
3          Relógio
4     Chinelo Liso
5      Cinto Linho
Name: Produto, dtype: object

## Adicionar 1 coluna

In [8]:
# A partir de uma coluna que existe
dados['Comissão'] = dados['Valor Final'] * 0.05  # Dessa forma criamos uma coluna comissão baseado no valor final


# Criar uma coluna com valor padrão
dados.loc[:, 'Imposto'] = 0  # Com o loc vc vai passar por todas as linhas adicionando o 0 na coluna Imposto 
dados['Imposto'] = dados['Valor Final'] * 0.20  # Vamos substituir o valor de 0 da coluna Imposto por 20% do valor do produto
dados

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,71.6
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,72.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,73.6
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,120.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,14.2
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,113.2
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,31.6
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,40.2
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,114.0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,207.2

## Adicionar 1 linha

In [9]:
# Vamos carregar o arquivo com as vendas de dezembro
vendas_dez = pd.read_excel('./dados/Vendas - Dez.xlsx')

# Agora vamos usar esses dados e adicionar aos dados do dataframe anterior

dados_vendas = dados.append(vendas_dez)  # Criando uma nova variavel armazenamos os valores de dados adicionando os valores de vendas_dez
dados_vendas  # Retornará uma tabela com todos os valores adicionados

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,71.6
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,72.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,73.6
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,120.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,14.2
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

## Excluir linhas e colunas

In [10]:
# Vimos que nas colunas Comissão e Imposto os valores da tabela vendas_dez estão nulos, temos varias formas de fazer
dados_vendas = dados_vendas.drop('Imposto', axis=1)

In [11]:
# A coluna Imposto foi apagada da tabela 
dados_vendas

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

## Valores Vazios
 - Deletar linhas/colunas vazias
 - Deletar linhas que possuem valores vazios
 - Preencher valores vazios (média e ultimo valor)

In [12]:
# Usando o dropna para remover os valores vazios da tabela
# dados_vendas = dados_vendas.dropna(how='all', axis=1)  # Dessa forma ira remover todos os valores que sejam nulos

# Deletar linhas que possuem pelo menos 1 valor vazio
# dados_vendas = dados_vendas.dropna()

# Preencher valores vazios (média e ultimo valor) - Dessa forma usaremos a media para preencher os valores nulos da coluna
dados_vendas['Comissão'] = dados_vendas['Comissão'].fillna(dados_vendas['Comissão'].mean())
dados_vendas

# Preenche os valores nulos com o ultimo valor
# dados_vendas = dados_vendas.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.900000
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743133
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743133
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743133
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743133
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743133

## Calcular Indicadores
 - Groupby 
 - Value Counts

In [13]:
# Queremos saber quantas foram as transações por lojas, é simples usando o value counts
transacao_loja = dados_vendas['ID Loja'].value_counts()  # Retornará a qtd de transação por loja
display(transacao_loja)

# E como podemos obter o faturamento dos produtos?? Sim usando o groupby
faturamento_produto = dados_vendas[['Produto', 'Valor Final']].groupby('Produto').sum()  # Obtemos a soma dos produtos pelo valor
display(faturamento_produto)

Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Center Interlagos          4021
Shopping Iguatemi Fortaleza         4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3980
Shopping Barra                      3962
Shopping Morumbi                    3960
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: ID Loja, dtype: int64

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

## Mesclar 2 dataframes (Procurar informações de um dataframe emoutro)

In [14]:
# A partir de todos os dados queremos saber quem são os gerentes de cada loja, mais nessa tabela não temos os gerente
# Iremos mesclar uma tabela de gerentes

gerente_df = pd.read_excel('./dados/Gerentes.xlsx')
gerente_df  # Todos os gerentes da empresa e suas lojas, agora vamos mesclar

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

In [15]:
# Vamos pegar nossa tabela atual e usar a função merge
dados_vendas = dados_vendas.merge(gerente_df)  # Usando o merge ele vai mesclar baseando-se na coluna existente nas duas tabelas
dados_vendas   # Retornando a tabela principal com os gerentes em suas lojas

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.900000,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.600000,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.150000,Salvador
...,...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,20.743133,Mateus
100995,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,20.743133,Mateus
100996,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,20.743133,Mateus
100997,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,20.743133,Mateus
100998,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,20.743133,Mateus

In [16]:
dados_vendas = dados_vendas.drop(['Comissão', 'Gerente'], axis=1)

# Modulo 2 - Analise de dados

## Como funciona um Projeto de Análise de Dados?
Os projetos de Análise de Dados na verdade são desafios das empresas para trazer soluções baseado nos dados.


Desafio
- O que a empresa vende?
- Lojas?
- Como aumentar as vendas?
- O que fazer?
- Informações disponiveis

# 1- Trazer sua base de dados e verificar as informações contidas nela.

In [17]:
# Importando os dados, vamos verificar as informações para criar hipoteses.
tabela = pd.read_excel('Vendas.xlsx')

tabela.head()  # Dataframe contém informações de vendas do mes

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,2019-12-01,Iguatemi Campinas,Bermuda Estampa,1,169,169
1,2019-12-01,Iguatemi Esplanada,Bermuda Xadrez,1,155,155
2,2019-12-01,Norte Shopping,Bermuda,2,150,300
3,2019-12-01,Iguatemi Campinas,Bermuda Listrado,3,163,489
4,2019-12-01,Iguatemi Campinas,Bermuda Linho,3,195,585

# 2- Pegar um panorama geral sobre a sua base de dados

In [18]:
# Olhando nossos dados percebemos que precisamos pegar o faturamento para ter uma análise melhor sobre eles

display(tabela['Valor Final'].sum())

# Olhando o faturamente temos o valor de R$ 55.895,00, mais precisamos entender como chegou a esse valor
# Vamos pegar a quantidade de lojas que empresa possui e os produtos

# Vamos pegar a quantidade de lojas da empresa
display(len(tabela["ID Loja"].value_counts())) # A empresa tem 5 lojas

# Vamos verificar a quantidade de produtos
display(len(tabela["Produto"].value_counts()))  # Total de 6 produtos

55895

5

6

# 3- Começar uma análise Top/Down

In [19]:
# Vamos pegar o faturamento por loja 
tabela[['ID Loja', 'Valor Final']].groupby("ID Loja").sum()


# Agora podemos entender melhor, vemos que o faturamento na loja de Iguatemi Campinas está muito acima dos outros valores
# precisamos entender o que esta acontecendo para o faturamente está tão alto e levar para as outras lojas.

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

# 4- Entrar no detalhe para entender

In [20]:
# Agora vamos trazer os produtos
tabela[['ID Loja', 'Produto', 'Valor Final']].groupby(['ID Loja', 'Produto']).sum()


# Agrupando as lojas e os produtos vamos somar a coluna valor final e temos o resultado de faturamento por produto de cada loja
# E podemos perceber que em Iguatemi Campinas tem um produto que não temos nas outras lojas na qual está gerando um otimo faturamento

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085

Podemos ver que na loja de Iguatemi Campinas tem um produto extra que esta gerando um faturamento alto.

Agora que sabemos o motivo do faturamento alto podemos criar formas para elevar as vendas em todas as lojas a partir desse produto, vamos distribuir em todas as lojas criando campanhas para esse produto.

# Desafio - Analise de dados

Iremos usar os dados que carregamos no modulo 1.

O setor financeiro solicitou uma analise das vendas de novembro e dezembro de todas as lojas gerando um relatório com o resultado;

Desafio:
- Faturamento por loja
- Quantidade de produtos vendidos por loja
- Ticket médio por produto em cada loja

In [21]:
# Importar os dados - Usando os dados carregados no modulo 1
dados_vendas

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363
...,...,...,...,...,...,...,...
100994,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192
100995,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280
100996,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708
100997,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160
100998,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790

In [22]:
# Visualizar os dados verificando se há algum erro para tratamento
dados_vendas.isna().value_counts()

# Como tratamos os dados no modulo 1 não há valores nulos na tabela

Código Venda  Data   ID Loja  Produto  Quantidade  Valor Unitário  Valor Final
False         False  False    False    False       False           False          100999
dtype: int64

In [23]:
# Faturamento por loja
faturamento = dados_vendas[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
faturamento

                                  Valor Final
ID Loja
Bourbon Shopping SP                   1726110
Center Shopping Uberlândia            1668921
Iguatemi Campinas                     1762419
Iguatemi Esplanada                    1699681
Norte Shopping                        1711968
Novo Shopping Ribeirão Preto          1678225
Palladium Shopping Curitiba           1721120
Parque Dom Pedro Shopping             1631630
Passei das Águas Shopping             1649014
Ribeirão Shopping                     1707122
Rio Mar Recife                        1722766
Rio Mar Shopping Fortaleza            1698430
Salvador Shopping                     1646739
Shopping Barra                        1653103
Shopping Center Interlagos            1640486
Shopping Center Leste Aricanduva      1682870
Shopping Eldorado                     1648111
Shopping Ibirapuera                   1635060
Shopping Iguatemi Fortaleza           1674824
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444
Shopping Recife                       1624879
Shopping SP Market                    1721763
Shopping União de Osasco              1663770
Shopping Vila Velha                   1731167

In [24]:
# Quantidade de produtos vendidos por loja
qtd_prod = dados_vendas[['ID Loja','Quantidade']].groupby(['ID Loja']).sum()
qtd_prod

                                  Quantidade
ID Loja
Bourbon Shopping SP                     8863
Center Shopping Uberlândia              8627
Iguatemi Campinas                       8935
Iguatemi Esplanada                      8580
Norte Shopping                          9014
Novo Shopping Ribeirão Preto            8751
Palladium Shopping Curitiba             9091
Parque Dom Pedro Shopping               8388
Passei das Águas Shopping               8618
Ribeirão Shopping                       8825
Rio Mar Recife                          8863
Rio Mar Shopping Fortaleza              8937
Salvador Shopping                       8698
Shopping Barra                          8638
Shopping Center Interlagos              8675
Shopping Center Leste Aricanduva        8938
Shopping Eldorado                       8719
Shopping Ibirapuera                     8723
Shopping Iguatemi Fortaleza             8629
Shopping Midway Mall                    8206
Shopping Morumbi                        8508
Shopping Recife                         8581
Shopping SP Market                      8927
Shopping União de Osasco                8730
Shopping Vila Velha                     9224

In [25]:
# Ticket médio por produto em cada loja
tkt_medio = (faturamento['Valor Final'] / qtd_prod['Quantidade']).to_frame()
tkt_medio

                                           0
ID Loja
Bourbon Shopping SP               194.754598
Center Shopping Uberlândia        193.453228
Iguatemi Campinas                 197.248909
Iguatemi Esplanada                198.098019
Norte Shopping                    189.923231
Novo Shopping Ribeirão Preto      191.775226
Palladium Shopping Curitiba       189.321307
Parque Dom Pedro Shopping         194.519552
Passei das Águas Shopping         191.345324
Ribeirão Shopping                 193.441586
Rio Mar Recife                    194.377299
Rio Mar Shopping Fortaleza        190.044758
Salvador Shopping                 189.323868
Shopping Barra                    191.375666
Shopping Center Interlagos        189.105014
Shopping Center Leste Aricanduva  188.282614
Shopping Eldorado                 189.025232
Shopping Ibirapuera               187.442394
Shopping Iguatemi Fortaleza       194.092479
Shopping Midway Mall              193.814404
Shopping Morumbi                  186.464974
Shopping Recife                   189.357767
Shopping SP Market                192.871401
Shopping União de Osasco          190.580756
Shopping Vila Velha               187.680724

# Modulo 3 - Automação de processos com Python

### Desafio:

Todos os dias, o nosso sistema atualiza as vendas do dia anterior.
O seu trabalho diário, como analista, é enviar um e-mail para a diretoria, assim que começar a trabalhar, com o faturamento e a quantidade de produtos vendidos no dia anterior

E-mail da diretoria: seugmail+diretoria@gmail.com<br>
Local onde o sistema disponibiliza as vendas do dia anterior: https://drive.google.com/drive/folders/149xknr9JvrlEnhNWO49zPcw0PW5icxga?usp=sharing

https://drive.google.com/drive/folders/1JRs2RxUSKd7QKfghiQ7BxLWCalta2IaK

Para resolver isso, vamos usar o pyautogui, uma biblioteca de automação de comandos do mouse e do teclado

In [31]:
# Importando as bibliotecas
import pyautogui
import pyperclip
import time

pyautogui.PAUSE = 1  # Acrescenta uma pausa de 1 segundo entre as funções

# Passo 1- Entrar no sistema da empresa - Usarei o link do Google Drive onde coloquei o arquivo do excel simulando o sistema
pyautogui.hotkey('ctrl', 't')  # Abre uma nova aba
pyperclip.copy('https://drive.google.com/drive/folders/1JRs2RxUSKd7QKfghiQ7BxLWCalta2IaK')  # Copia o link
pyautogui.click(x=599, y=66)  # Clica na posição que você selecionou
pyautogui.hotkey('ctrl', 'v')  # Cola o link
pyautogui.press('enter')  # Aperta o Enter

time.sleep(5)  # Função deixa 5 segundos para a pagina carregar

# Passo 2- Encontrar e baixar a base de dados no sistema de empresa
pyautogui.click(x=1409, y=402)  # Clicar no arquivo
pyautogui.click(x=1716, y=200)  # Clicar nos 3 pontinhos
pyautogui.click(x=1525, y=540)  # Fazer download

time.sleep(5)

In [40]:
# Passo 3- Importar a base de dados para o python

df_vendas = pd.read_excel(r'D:/wende/Downloads/Vendas - Dez.xlsx')
display(df_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014.0,2019-12-01,Shopping Morumbi,Sunga Listrado,5.0,114.0,570.0
1,65014.0,2019-12-01,Shopping Morumbi,Casaco Listrado,1.0,269.0,269.0
2,65016.0,2019-12-01,Iguatemi Campinas,Sapato Listrado,2.0,363.0,726.0
3,65016.0,2019-12-01,Iguatemi Campinas,Casaco,1.0,250.0,250.0
4,65017.0,2019-12-01,Shopping SP Market,Gorro Liso,3.0,92.0,276.0
...,...,...,...,...,...,...,...
7084,69996.0,2019-12-26,Center Shopping Uberlândia,Short Listrado,2.0,102.0,204.0
7085,69996.0,2019-12-26,Center Shopping Uberlândia,Mochila,4.0,270.0,1080.0
7086,69996.0,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1.0,87.0,87.0
7087,69997.0,2019-12-26,Ribeirão Shopping,Camisa Listrado,1.0,108.0,108.0
7088,69997.0,2019-12-26,Ribeirão Shopping,Short Linho,2.0,133.0,266.0

In [41]:
# Passo 4- Calcular os indicadores - Faturamento
df_fat = df_vendas['Valor Final'].sum()
print(df_fat)

# Calcular os indicadores - Qtd produtos vendidos
df_qtd = df_vendas['Quantidade'].sum()
print(df_qtd)

2917311.0
15227.0

In [64]:
# Passo 5- Enviar um email com o relatório para a diretoria
# Abrir o email (Link do Email: https://mail.google.com/mail/u/0/#inbox)

pyautogui.PAUSE = 1  # Acrescenta uma pausa de 1 segundo entre as funções

# Passo 1- Entrar no sistema da empresa - Usarei o link do Google Drive onde coloquei o arquivo do excel simulando o sistema
pyautogui.hotkey('ctrl', 't')  # Abre uma nova aba
pyperclip.copy('https://mail.google.com/mail/u/0/#inbox')  # Copia o link
pyautogui.click(x=599, y=66)  # Clica na posição que você selecionou
pyautogui.hotkey('ctrl', 'v')  # Cola o link
pyautogui.press('enter')  # Aperta o Enter
time.sleep(5)

# Clicar no escrever
pyautogui.click(x=91, y=211)
time.sleep(1.5)

# Escrever o destinatario
pyautogui.write('wendell_barcelos2@hotmail.com')
pyautogui.press('tab')
time.sleep(1)
pyautogui.press('tab')

# Escrever o assunto
pyperclip.copy('Relatório Financeiro do Mês de Dezembro')
pyautogui.hotkey('ctrl', 'v')
time.sleep(1)
pyautogui.press('tab')

# Escrever o corpo do email

texto = f'''
Prezados, bom dia!

Faturamento do mês de dezembro: R$ {df_fat:,.2f}
Quantidade vendida no mês de dezembro: {df_qtd:,.0f}

att, 
Wendell Barcelos
'''

pyperclip.copy(texto)
pyautogui.hotkey('ctrl', 'v')
time.sleep(1.5)

# Enviar o email
pyautogui.click(x=1304, y=1011)

In [53]:
# Usando o pyautogui position para pegar a posição do mouse
time.sleep(5)
pyautogui.position()

Point(x=1304, y=1011)